.visible {
  display: none;
}

.redCurve {
  background-image: url("/src/assets/red_curve.svg");
  background-repeat: no-repeat;
  width: 375px;
  height: 426px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.inTouchCtn {
  position: absolute;
  right: 0rem;
  border: 2px solid white;
  border-radius: 1.3rem;
  margin: 1.2rem 1rem 0 0;
  padding: 0.5rem 0.9rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6875em;
}

.pizzaImage {
  background-image: url("/src/assets/pizza.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 400px;
  border-bottom-left-radius: 7rem;
}

.pizzaTextCtn {
  padding: 4rem var(--left-right-padding) 3rem ;
  
  .tagline {
    color: var(--primary-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; 
  }

  
  .tagSubline {
    margin: 1rem 0;
    color: var(--body);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
  }
  
  .exploreNowBtnCtn {
    text-align: center;
    margin: 2rem;
    
    .exploreNowBtn {
      padding: 0.75rem 1.875rem;
      border-radius: 1.875rem;
      background-color: var(--red-color);
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.76663rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.97138rem;
      letter-spacing: 0.00769rem;
    }
  }
}

.aboutUsCtn {
  background-color: var(--about-us-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 var(--left-right-padding);

  .aboutUsTitle {
    color: var(--primary, #0E2368);
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.1875rem;
  }

  .aboutUsDesc {
    color: var(--body, #444957);
    text-align: center;
    font-family: var(--font-family);
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
  }

  .readMoreBtn {
    padding: 0.25rem 2.0625rem;
    border-radius: 1.875rem;
    background-color: var(--red-color);
    color: white;
    font-family: var(--font-family);
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.02063rem;
  }
}

.articlesCtn{
  margin-top: 4rem;
  padding: 0px var(--left-right-padding);
  display: flex;
  flex-direction: column;
  align-items: center;

  .articleCtnTitle {
    margin-bottom: 1rem;
    color: var(--primary, #0E2368);
    font-family: var(--font-family);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.375rem;
    letter-spacing: 0.07rem;
  }

  .cardGridCtn {
    width: 100vw;
    margin-bottom: 4rem;
  }

  .cardGrid {
    display: grid;
    gap: 2.5rem;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    /* grid-auto-columns: 1fr; */
    overflow-x: scroll;
    scroll-padding: 2rem;
    scroll-snap-type: x mandatory;
    padding: 0 var(--left-right-padding);
  }
  
  .cardGrid > * {
    scroll-snap-align: start;
  }
}

.bottomInfoCtn {
  background: var(--bottom-bg);
  padding: 4rem var(--left-right-padding);
  display: flex;
  flex-direction: column;

  .bottomInfoTitle{
    color: var(--primary, #0E2368);
    font-family: var(--font-family);
    font-size: 0.98569rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.17525rem; /* 220.685% */
    letter-spacing: 0.02956rem;
  }

  .bottomInfoText {
    color: #646874;
    padding-bottom: 1rem;
    font-family: var(--font-family);
    font-size: 0.54763rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.76663rem; /* 140% */
  }

  .bottomInfoCopyights {
    align-self: center;
    color: #828B9C;
    text-align: center;
    font-family: var(--font-family);
    font-size: 0.54763rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.00794rem; /* 366.676% */
  }

  .socialMedialIcons {
    display: flex;
    align-self: center;
    gap: 1rem;
  }
}

.textRed {
  color: var(--red-color);
}

.foodTruck {
  align-self: center;
  object-fit: cover;
  margin-bottom: 2.5rem;
  width: 4.6875rem;
  height: 3.625rem;
}

@media (min-width: 1000px) {
  .flexCtn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 3rem;
  }

  .visible {
    display: block;
  }

  .redCurve {
    background-image: url("/src/assets/red_curve_large.svg");
    width: 42rem;
    height: 52.4375rem;
  }

  .inTouchCtn {
    border-radius: 2.3125rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.25rem; /* 225% */
    letter-spacing: 0.03rem;
  }

  .pizzaImage {
    width: 80vh;
    height: 100vh;
  }

  .pizzaTextCtn {
    height: 100vh;

    .tagline {
      font-size: 3.875rem;
      font-weight: 700;
      line-height: 4.3125rem; /* 111.29% */
    }

    .tagSubline {
      font-size: 1.02781rem;
      line-height: 1.713rem; /* 166.667% */
    }

    .exploreNowBtnCtn {
      .exploreNowBtn {
        padding: 1.5rem 2rem;
        border-radius: 3rem;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 2.25rem; /* 200% */
        letter-spacing: 0.01125rem;
      }
    }
  }

  .aboutUsCtn {
    .aboutUsTitle {
      font-size: 2.8125rem;
      line-height: 1.6875rem; /* 60% */
    }
  
    .aboutUsDesc {
      font-size: 0.9375rem;
      line-height: 1.6875rem; /* 180% */
    }
  
    .readMoreBtn {
      padding: 0.1875rem 1.625rem;
      border-radius: 1.3125rem;
      font-size: 1rem;
      line-height: 2.25rem; /* 225% */
      letter-spacing: 0.03rem;
    }
  }

  .articlesCtn{
    .articleCtnTitle {
      margin-bottom: 4rem;
      font-size: 3.5rem;
      line-height: 2.625rem; /* 75% */
      letter-spacing: 0.14rem;
    }
  
    .cardGrid {
      grid-template-rows: repeat(1, 1fr);
      grid-auto-columns: 30%;
    }
  }

  .bottomInfoCtn {
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;

    .bottomInfoTitle{
      margin-bottom: 1.5rem;
      font-size: 1.17769rem;
      letter-spacing: 0.03531rem;
    }
  
    .bottomInfoText {
      font-size: 0.916rem;
      line-height: 1.43944rem;
    }
  
    .bottomInfoCopyights {
      font-size: 0.916rem;
      line-height: 1.57025rem;
    }
  
    .socialMedialIcons {
      display: flex;
      align-self: center;
      gap: 1rem;
    }
  }

  .foodTruck {
    width: 10.0625rem;
    height: 7.8125rem;
  }
}

